#credinet-badge {
  text-decoration:none;
  color:#333333;
  font-size:14px;
  font-weight:bold;
  padding:0 12px;
  line-height:32px;
  height: auto;
  display:inline-block;
  text-align:center;
  color: black;
  
  font-family: sans-serif;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*.crediscore-badge[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: -2px;
   right: -20px;
   font-size: .7em;
   color: white;
   width: 18px;
   height: 18px;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   box-shadow: 0 0 1px #333;
   padding: 2px;
   font-family: sans-serif;
   z-index: 999;
   
}*/